app = "streamlings-lattice"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[env]
  PHX_SERVER = "true"
  PHX_HOST = "streamlings-lattice.fly.dev"

[http_service]
  internal_port = 4000
  force_https = true
  auto_stop_machines = "suspend"
  auto_start_machines = true
  min_machines_running = 0

  [http_service.concurrency]
    type = "connections"
    hard_limit = 1000
    soft_limit = 1000

[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1
